body{
	margin: 0;
}

header{
	background-color: blanchedalmond;
	text-align: center;
}

header h1{
	color: black;

}

header img{
	margin: 0;
	background-color: black;
	border-radius: 150px;
}

  hr {
        position: relative;
        top: 20px;
        border: none;
        height: 5px;
        background: black;
        margin-bottom: 50px;
    }