
h1 {

	font-size: 20px;
	color:white;
	background-color:dodgerblue;"

}


.bob{

	text-align: center;

	font-size: 40px;

	font-family: sans;

}


@font-face {
    font-family: 'mabookregular';
    src: url('../website 2/fonts/mabook-0wybx-webfont.woff2') format('woff2'),
         url('../website 2/fonts/mabook-0wybx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.garry{
	color: white;
	font-family: mabookregular;
	font-weight: normal;
}

.sans {
	width: 300px;
  height: 300px;
  transition: width 4s, height 2s, opacity 2s;
	border: 0px solid goldenrod;
  opacity: 0.5;
}

.sans:hover {
  border: 5px solid goldenrod;
  opacity: 1.0;
  width: 400px;
  height: 400px;
}

ul{

		color:white;
}

figure{

	font-size: 12px;
}

body{
    background-color: black;

}

footer{
	background-color: white;
	text-align: center;
	font-size: 20px;
	font-family: mabookregular;
}

footer .end:link {

	color: black;
}

footer .end:visited {

	color: black;
}

footer .end:hover {
	color: red;
}