body{

	background-color: black;
}


h1 {

	font-size: 20px;
	color:white;
	background-color:dodgerblue;"

}


.bob{

	text-align: center;

	font-size: 40px;

	font-family: sans;

}


@font-face {
    font-family: 'mabookregular';
    src: url('../website 2/fonts/mabook-0wybx-webfont.woff2') format('woff2'),
         url('../website 2/fonts/mabook-0wybx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.garry{
	color: white;
	font-family: mabookregular;
	font-weight: normal;
}

.sans {
  border: 5px solid goldenrod;
}

ul{

		color:white;
}

figure{

	color: white;
	font-size: 15px;
}